/* Login.module.css */
.mainContainer {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /* Full height of the viewport */
}

.productContainer {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
}

.productHeading {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

.productInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333333;
}

.productInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.addButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #0056b3;
}

.inputField {
    display: flex;
}

.inputlabel {
    width: 200px;
    text-align: left;
}


/* -----------------product table CSS--------------------- */
.tableContainer {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
}

.productTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.productTable th,
.productTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.productTable th {
    background-color: #f4f4f9;
    color: #333;
}

.productTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.productTable tr:hover {
    background-color: #f1f1f1;
}